@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Inter:wght@200&display=swap");
.block-images-section.hidden-block-images-tablet {
  display: none;
}
.first-image-section,
.image-section {
  max-width: 100%;
  height: auto;
}
.block-comment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.content-block-comment {
  min-height: 210px;
  display: flex;
  padding: 24px 20px;
  border-radius: 10px;
  border: 1px solid #565656;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
.block-images-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  align-content: center;
  align-items: center;
  min-height: 880px;
  justify-content: space-around;
}

.flex-images-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 530px;
  justify-content: space-between;
}
.image-section {
  width: 50%;
}

.flex-images-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 530px;
  justify-content: space-between;
}
.dark-theme {
  background-color: #181818;
}

.light-theme {
  background-color: #ede9e9;
}

.dark-text {
  color: #fff;
}

.light-text {
  color: #000000;
}
.dark-backgrount-comment {
  background-color: #181818;
}
.light-backgrount-comment {
  background-color: #fff6f6;
}
@media (min-width: 320px) and (max-width: 480px) {
  .hidden-block-images-tablet {
    display: none;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 650px;
    justify-content: space-around;
    text-align: center;
    padding: 0 20px;
  }

  .image-section {
    max-width: 170px;
    min-width: 130px;
  }
  .images-section {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 480px;
    min-height: 550px;
    justify-content: space-evenly;
    align-content: space-between;
  }
  .section-content-top {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .first-image-wrapper {
    width: 100%;
  }
  .image-section {
    width: 50%;
  }
  .block-images-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 320px;
    align-content: center;
    align-items: center;
    min-height: 880px;
    justify-content: space-around;
  }
  .flex-images-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 530px;
    justify-content: space-between;
  }
  .section-content-middle {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
  }
  .image-logo-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 310px;
    justify-content: space-around;
  }
  .logo-section {
    width: 26%;
  }
  .block-comment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 940px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .content-block-comment {
    min-height: 210px;
    display: flex;
    padding: 24px 20px;
    border-radius: 10px;
    border: 1px solid #565656;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  .section-content-bottom {
    padding-top: 30px;
  }
  .name-user-comment {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-align: left;
    color: #02e4c0;
  }
  .profession-user-comment {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }

  .userDataComment {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .comment-user-info {
    display: flex;
  }
  .text-comment-section {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }

  .footer-description-contact {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .icon-network-contact {
    padding-right: 20px;
  }
  #twitterImage:hover {
    content: url("../image/twitter-blue.svg");
  }
  #facebookImage:hover {
    content: url("../image/facebook-blue.svg");
  }
  #linkedinImage:hover {
    content: url("../image/linkedin-blue.svg");
  }

  .block-images-section.hidden-block-images-mobile {
    display: flex;
  }
  .block-images-section.hidden-block-images-tablet {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .hidden-block-images-mobile {
    display: none;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 650px;
    justify-content: space-around;
    text-align: center;
    padding: 0 30px;
  }
  .first-image-section {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .images-section {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 480px;
    min-height: 550px;
    justify-content: space-evenly;
    align-content: space-between;
  }

  .section-content-middle {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .image-logo-section {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
    justify-content: space-around;
    margin-top: 20px;
  }
  .logo-section {
    width: 21%;
  }
  .section-content-bottom {
    padding-top: 30px;
  }
  .name-user-comment {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-align: left;
    color: #02e4c0;
  }
  .profession-user-comment {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }

  .userDataComment {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .comment-user-info {
    display: flex;
  }
  .text-comment-section {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }

  .footer-description-contact {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .icon-network-contact {
    padding-right: 20px;
  }
  .first-image-section {
    width: 98%;
    margin: 1%;
  }

  .image-section {
    width: 48%;
    margin: 1%;
  }
  .block-images-section.hidden-block-images-mobile {
    display: none;
  }
  .block-images-section.hidden-block-images-tablet {
    display: flex;
    padding-top: 20px;
  }
  .block-comment {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 650px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
    align-items: stretch;
  }
  .content-block-comment {
    min-width: calc(50% - 20px);
    width: 48%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #565656;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 993px) {
  .headline-section {
    margin-top: 20px;
  }
  .hidden-block-images-tablet {
    display: none;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 20px;
  }

  .images-section {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 480px;
    min-height: 550px;
    justify-content: space-evenly;
    align-content: space-between;
  }
  .image-section {
    width: calc(33.33% - 20px);
    margin-right: 20px;
  }
  .image-section:last-child {
    margin-right: 0;
  }
  .block-images-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    min-height: 0px;
    width: 90%;
  }

  .first-image-section {
    width: 50%;
    margin-right: 20px;
    height: 100%;
  }

  .flex-images-section {
    display: flex;
    flex-wrap: wrap;
  }
  .section-content-middle {
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  .image-logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 650px;
  }
  .block-comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
  }
  .content-block-comment {
    min-height: 210px;
    min-width: calc(40% - 20px);
    display: flex;
    padding: 24px 20px;
    border-radius: 10px;
    border: 1px solid #565656;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  .section-content-bottom {
    padding-top: 30px;
  }
  .name-user-comment {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-align: left;
    color: #02e4c0;
  }
  .profession-user-comment {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }

  .userDataComment {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .comment-user-info {
    display: flex;
  }
  .text-comment-section {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
  }

  .footer-description-contact {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .icon-network-contact {
    padding-right: 20px;
  }
  #twitterImage:hover {
    content: url("../image/twitter-blue.svg");
  }
  #facebookImage:hover {
    content: url("../image/facebook-blue.svg");
  }
  #linkedinImage:hover {
    content: url("../image/linkedin-blue.svg");
  }

  .block-images-section.hidden-block-images-mobile {
    display: none;
  }
  .block-images-section.hidden-block-images-tablet {
    display: flex;
  }
}
