@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Inter:wght@200&display=swap");
.dark-theme {
  background-color: #181818;
  color: black;
}

.light-theme {
  background-color: #f5f5f5;
  color: dark;
}

.dark-text {
  color: #fff;
}

.light-text {
  color: black;
}
.images-footer-mobile,
.images-footer-tablet,
.maps-footer-desctop,
.maps-footer-mobile,
.maps-footer-tablet {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer-content {
    min-height: 950px;
  }
  .footer-content-contact {
    display: flex;
    flex-direction: column;
    min-height: 550px;
    justify-content: space-between;
    padding-left: 30px;
  }
  .footer-content-top {
    display: flex;
    background: #343434;
    text-align: center;
    min-height: 310px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .footer-top-header {
    color: #ffffff;
    max-width: 250px;
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
  }
  .block-images-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .images-footer-mobile {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  .footer-description {
    display: flex;
    flex-direction: column;
    min-height: 190px;
    justify-content: space-evenly;
    padding-top: 30px;
  }
  .head-footer-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }
  .href-footer-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a5a5a5;
  }
  .contact-footer {
    display: flex;
    align-items: center;
  }
  .contact-footer-data {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .images-footer-mobile {
    display: block;
  }
  .href-text-footer {
    color: #a5a5a5;
  }

  .maps-footer-mobile {
    display: block;
    width: 100%;
  }
  .dark-text {
    color: #fff;
  }

  .light-text {
    color: black;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .footer-content {
    min-height: 950px;
  }
  .footer-content-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 30px;
  }
  .footer-content-top {
    display: flex;
    background: #343434;
    text-align: center;
    min-height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
  }
  .footer-top-header {
    color: #ffffff;
    max-width: 480px;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.200000003px;
    text-align: center;
  }
  .block-images-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .images-footer {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 60px;
  }
  .footer-description {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    justify-content: space-between;
  }
  .head-footer-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }
  .href-footer-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a5a5a5;
  }
  .contact-footer {
    display: flex;
    align-items: center;
  }
  .contact-footer-data {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .href-text-footer {
    color: #a5a5a5;
  }
  .images-footer-tablet {
    display: block;
  }
  .maps-footer-tablet {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .dark-text {
    color: #fff;
  }

  .light-text {
    color: black;
  }
  .flex-footer-description {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 993px) {
  .footer-content {
    padding-top: 40px;
  }
  .footer-content-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 30px;
    padding-bottom: 50px;
  }
  .footer-content-top {
    display: flex;
    background: #343434;
    text-align: center;
    min-height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .footer-top-header {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.200000003px;
    text-align: center;
  }
  .block-images-footer {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .images-footer {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

  .footer-description {
    display: flex;
    flex-direction: column;
    min-height: 190px;
    justify-content: space-evenly;
  }
  .head-footer-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }
  .href-footer-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #a5a5a5;
  }
  .contact-footer {
    display: flex;
    align-items: center;
  }
  .contact-footer-data {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .href-text-footer {
    color: #a5a5a5;
  }

  .images-footer-mobile {
    display: block;
  }
  .dark-text {
    color: #fff;
  }

  .light-text {
    color: black;
  }
  .flex-footer-description {
    display: flex;
    justify-content: space-between;
    min-width: 470px;
  }
  .href-footer-description:hover {
    color: #fff;
  }
  .maps-footer-desctop {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
}
